<%-include ("header") -%>

<h1>This is an about page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias blanditiis, veritatis, non repellendus rem ullam quo quidem nobis omnis tempora eius quaerat sed eveniet inventore. Iure provident eligendi dolorum inventore. Dolorum delectus sequi quos rerum!</p>

<%-include ("footer") -%>